
.grid-container{
    min-height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows:  0.4fr 0.3fr 3fr 0.5fr ;

    grid-template-areas: 
    "header header header "
    "navbar navbar navbar "
    "main main aside"
    "footer footer footer";
}
header{
    grid-area: header;
    background-image: url(sweden-flag\ \(1\).jpg);
    background-size: 100% 100%;
    
}
nav{
    grid-area: navbar;
    background-color: #db1010;
    
    
}
main{
    grid-area: main;
    background-color: #FFD700;
}
aside{
 grid-area: aside;
 background-color: aqua;
}
footer{
    grid-area: footer;
    background-color: #db1010;
}
#info{
    display: none;
}
.menu{
    color: aliceblue;
    font-size: 50px;
}
#info{
    color: aliceblue;
    font-size: larger;
}
.dark-mode{
    margin-left: 250px;
}
a{
    color: aliceblue;

}