
.grid-container{
    min-height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  1fr 1fr 1fr  ;

    grid-template-areas: 
    "navbar navbar navbar"
    "main main aside"
    "footer footer footer";
}

nav{
    grid-area: navbar;
    background-color: #005CBF;
}
main{
    grid-area: main;
    background-color: #FFD700;
}
aside{
 grid-area: aside;
 background-color: aqua;
}
footer{
    grid-area: footer;
    background-color: #db1010;
}
#info{
    display: none;
}
.menu{
    color: aliceblue;
    font-size: 50px;
}
#info{
    color: aliceblue;
    font-size: larger;
}
